PORT=3000
DB_USER= usuario de la base de datos (postgres)
DB_PASSWORD= contraseña de la base de datos
DB_HOST= locacion de host
DB_PORT=puerto de la base de datos
DB_NAME= nombre de la base de datos
JWT_SECRET= clave segura

ADMIN_USER = correo del admin
ADMIN_PASS = contraseña del admin