/* CONFIGURACIÓN GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f7f6e1; /* Fondo gris/pastel muy suave */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* BANNER SUPERIOR */
.top-banner {
    background-color: #3EC768; 
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo-img{
    margin-top: 200px;
    height: 120px;
    width: auto;
    object-fit: contain;
    display: blocks;
}


/* CONTENEDOR DEL FORMULARIO */
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* CUADRO REDONDEADO DE LOGIN */
.login-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px; /* Bordes redondeados elegantes */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); /* Sombra suave */
    width: 100%;
    max-width: 460px;
    text-align: center;
}

.login-card h1 {
    color: #333333;
    font-size: 26px;
    margin-bottom: 8px;
}

.subtitle {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
}

/* GRUPOS DE ENTRADAS (CAMPOS) */



/* Efecto verde al hacer clic en las entradas */
.form-group input:focus,
.form-group select:focus {
    border-color: #39B860;
}

/* BOTÓN DE INICIAR SESIÓN */
.btn-submit {
    width: 60%;
    padding: 14px;
    background-color: #3EC768;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #39B860;
}

/* REDIRECCIÓN INFERIOR */
.form-footer {
    margin-top: 25px;
    font-size: 14px;
    color: #666666;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}

.form-footer a:hover {
    text-decoration: underline;
}

.register-card{
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px; /* Bordes redondeados elegantes */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); /* Sombra suave */
    width: 100%;
    max-width: 470px;
    text-align: center;
}

/*PAGINA DE INICIO PRINCIPAL*/
/* Contenedor que divide la pantalla en dos: Izquierda y Derecha */
.landing-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #f4f7f6;
    overflow-x: hidden;
}

/* LADO IZQUIERDO */
.hero-left {
    flex: 1; /* Toma la mayor parte del espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    background-color: #ffffff;
}

.hero-image-container {
    width: 100%;
    max-width: 500px; /* Controla qué tan grande se verá la imagen */
    margin-bottom: 30px;
}

.hero-img-main {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* Estilos del Eslogan */
.slogan-container {
    max-width: 600px;
}

.slogan-title {
    font-size: 38px;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 800;
}

.slogan-text {
    font-size: 16px;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 25px;
}

.btn-start {
    display: inline-block;
    padding: 12px 24px;
    background-color: #3EC768;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.2s;
}

.btn-start:hover {
    background-color: #39B860;
}

/* LADO DERECHO: BANNER LATERAL */
.banner-right {
    width: 200px; /* Ancho fijo para el banner lateral */
    background-color: #39B860; /* ⚠️ Color verde base, puedes cambiarlo si gustas */
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    box-shadow: -5px 0 15px rgba(0,0,0,0.05);
}

/* Menú en la esquina superior derecha del banner */
.nav-menu-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea los textos a la derecha */
    gap: 18px;
    width: 100%;
}

.nav-item {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.2s;
}

.nav-item:hover, .nav-item.active {
    color: #ffffff;
    font-weight: 600;
}

/* Botón llamativo para 'Cuenta' */
.btn-cuenta {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 6px 16px;
    border-radius: 20px;
    transition: background-color 0.2s;
}

.btn-cuenta:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.banner-footer{
    margin-top: auto;
    width: 100%;
    text-align: right;
    padding-top: 200px;
}

/*Texto MODO ADMIN*/

.aviso-admin-oculto{
    display: none;
}
.aviso-admin-visible{
    display: block;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    animation: fadeIn 0.3s ease-in-out;
}
.texto-admin{
    margin: 0;
    color: #856404;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
}
@keyframes fadeIn{
    from {opacity: 0; transform:  translateY(-5px);}
    to {opacity: 1; transform: translateY(0);}
}

/* Contenido del centro del banner */

/*INFORMACION DE CUENTA*/

/* La etiqueta pequeña que va arriba de cada caja */
.info-label {
    font-size: 12px;
    color: #666666;
    font-weight: 600;
    display: block;
    margin-bottom: 6px;
    text-align: left; 
}

/* La caja que muestra el texto de la BD */
.info-box {
    width: 100%;
    padding: 12px;
    border: 1px solid #dddddd;
    border-radius: 8px; /* Mismo redondeado que usas en tus inputs */
    font-size: 13px;
    background-color: #f9f9f9;
    color: #333333;
    text-align: left;
    font-weight: 500;
    box-sizing: border-box; 
    margin-bottom: 15px;
}

/* Estilo para el botón secundario "Volver al Inicio" */
.btn-secondary {
    display: inline-block;
    padding: 12px;
    background-color: #e2e8f0;
    color: #4a5568;
    text-decoration: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.2s;
}

.btn-secondary:hover {
    background-color: #cbd5e1;
}

/* Estilo para el botón "Cerrar Sesión" */
.btn-danger {
    padding: 12px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-danger:hover {
    background-color: #dc2626;
}

/*DISEÑO PARA ACTIVIDADES*/
/*-----------------------------------*/
.contenedor-principal{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}
.titulo-seccion{
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}
/*contexto para el alineado superior*/
.titulo-admin-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
/*Contenedor de los botones superiores*/
.controles-superiores{
    display: flex;
    gap: 12px;
    align-items: center;
}

/*diseño de botones estudiantes */
.btn-visita-estudiante {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 123, 255, 0.15);
    transition: all 0.2s ease;
    white-space: nowrap;
}
.btn-visita-estudiante:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.25);
}

#btn-ver-disponibles {
    background-color: #6c757d !important;
    box-shadow: 0 3px 6px rgba(108, 117, 125, 0.15) !important;
}
#btn-ver-disponibles:hover {
    background-color: #5a6268 !important;
    box-shadow: 0 4px 8px rgba(108, 117, 125, 0.25) !important;
}

.titulo-admin-flex .titulo-seccion{
    margin-bottom: 0;
}

.menu-categorias{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.btn-crear-actividad-admin{
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}
.btn-crear-actividad-admin:hover{
    background-color: #218838;
}

.actividad-acciones{
    display: felx;
    flex-direction: column;
    gap: 8px;
}

.btn-eliminar-actividad{
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s;
}
.btn-eliminar-actividad:hover{
    background-color: #c82333;
}

/*Estilos de la tarjeta flotante*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}
.modal-overlay.mostrar{
    opacity: 1;
    pointer-events: auto;
}
.modal-content{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}
.modal-content h3{
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}
.modal-botones{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}
.btn-cancelar{
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}
.btn-guardar{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 6px;
    color: #444;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Entradas levemente redondeadas */
    box-sizing: border-box;
    font-size: 14px;
}
.form-group textarea{
    resize: none;
    height: 80px;
}

.btn-categoria{
    background-color: #f0f0f0;
    color: #444;
    border: 1px solid #ccc;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-categoria:hover{
    background-color: #e0e0e0;
}

/*estado activo del boton seleccionado*/
.btn-categoria.activo{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

/*contenedor de folder*/
.folder-contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*pestañas*/
.folder-pestanas{
    display: felx;
    gap: 6px;
    flex-wrap: wrap;
    z-index: 1;
}

.pestana{
    background-color: #e4e4e4;
    color: #666;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.2s ease;
}
.pestana:hover{
    background-color: #dadada;
}

/*pestana activa*/
.pestana.activa{
    background-color: #ffffff;
    color:  #000000;
    border-color: #ccc;
    margin-bottom: -1px;
    position: relative;
}

/*Cuerpo del folder*/
.folder-cuerpo{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    border-top-left-radius: 0px;
    padding: 25px;
    min-height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tarjeta-actividad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    border: 1px solid #eef0f2;
    border-radius: 8px;
    padding: 15px 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.tarjeta-actividad:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}
.actividad-info h3{
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #222;
}
.actividad-info p{
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}

.recompensa{
    font-weight: 600;
    color: #2Ba745;
    font-size: 14px;
}

.btn-qr{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.2s;
}
.btn-qr:hover{
    background-color: #0056b3;
}

/*ADAPTACIÓN PARA DISPOSITIVOS MÓVILES (CELULARES) */

@media (max-width: 480px) {

    .login-container {
        padding: 15px;
    }

    /* Ajustamos la tarjeta para que aproveche mejor el ancho de la pantalla */
    .login-card {
        padding: 24px 16px; 
        max-width: 90%;     
        border-radius: 10px;
    }

    .login-card h2 {
        font-size: 20px;    
    }

    .form-group label {
        font-size: 13px;
    }

    .form-group input {
        padding: 10px;      
        font-size: 14px;    
    }

    /* El botón se adapta mejor si ocupa un poco más de espacio en pantallas chicas */
    .btn-submit {
        width: 80%;         
        padding: 12px;
        font-size: 13px;
    }

    .landing-wrapper {
        flex-direction: column-reverse; /* El banner se va arriba en celulares */
    }
    .banner-right {
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .nav-menu-landing {
        flex-direction: row;
        justify-content: space-around;
    }
    .hero-left {
        padding: 30px 20px;
    }
    .slogan-title {
        font-size: 28px;
    }
}